= form_for(resource, as: resource_name, url: session_path(resource_name), |
  html: { :class => "form-signin" }) do |f|                               |
  %h2.form-signin-heading Sign in
  %div
    = f.label :email, class: "sr-only"
    %br/
    = f.email_field :email, autofocus: true, class: "form-control", |
      placeholder: 'E-mail'                                         |
  %div
    = f.label :password, class: "sr-only"
    %br/
    = f.password_field :password, autocomplete: "off", class: "form-control", |
      placeholder: 'Password'                                                 |
  - if devise_mapping.rememberable?
    .checkbox
      = f.label :remember_me do
        = f.check_box :remember_me
        Remember me
  %div= f.submit "Sign in", class: "btn btn-lg btn-primary btn-block"
  = render "devise/shared/links"
